<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  45
  <fa name="cog" animation="spin"></fa>

  <div class="row card-group" id="heroes">

    <div class="col-md-2 card text-center" *ngFor="let hero of heroes; index as i">
      <div class="card-header">
        {{hero.getCharacter().name}}
      </div>
      <div class="card-block">
        Hit Points: {{hero.getCharacter().health}} / {{hero.getCharacter().totalHealth}}
      </div>
      <div class="card-footer text-center">
        <button type="button" class="btn btn-danger"
          (click)="removeHero(i)">
          <fa name="minus-square" size="3x"></fa>
        </button>
      </div>
    </div>

    <div class="card text-center col-md-2" *ngIf="heroes.length <= 4">
        {{diagnostic}}

        <div class="card-block">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control"
                [ngClass]="{'ng-invalid': isEmpty(name), 'ng-valid': !isEmpty(name)}"
                id="name" required
                [(ngModel)]="newHero.name" name="name">
          </div>

          <div class="form-group">
            <label for="health">Health</label>
            <input type="number" class="form-control"
                [ngClass]="{'ng-invalid': isEmpty(health), 'ng-valid': !isEmpty(health)}"
                id="name" required
                [(ngModel)]="newHero.health" name="health">
          </div>
        </div>

      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="addHero()"
          [disabled]="!isValid()" [ngClass]="{'disabled': !isValid()}">
          <fa name="plus-square" size="3x"></fa>
        </button>
      </div>

    </div>

  </div>
  <div class="row card-deck" id="opponents">
    <div class="col-md-6 card">
      villai
    </div>
    <div class="col-md-6 card">
      environment
    </div>
  </div>
</div>
